// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	// background: rgb(255, 255, 255);
	background-color: #428eb1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

// ----------------------- //
@text-smaller: 1rem;
@text-small: 1.25rem;
@text-medium: 1.3rem;
@text-larger: 1.8rem;
@text-huge: 2.25rem;
@text-largest: 2.50rem;
@text-medium: 1.5rem;

//Mixins
.display-justify {
	display: flex;
	justify-content: center;
}



nav {
	box-shadow: 10px 10px 5px rgb(0, 63, 114);
	border-radius: 1em;
	background-color: white;
	margin: 2.5% 4.5%;
	.display-justify();
	justify-content: space-evenly;
	font-size: @text-smaller;
	// border: 1px solid red;
	padding: 1.5% 0%;
	a {
		text-decoration: none;
		color: rgb(58, 58, 58);
	 }
}

.intro {
	box-shadow: 10px 10px 5px rgb(0, 63, 114);
	margin: 2.5% 4.5%;
	background-color: rgb(255, 255, 255);
	// border: 1px solid red;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 1em;
	.juno {
		border-radius: 50%;
		margin: 3% 0%;
	}
	h1 {
		// border: 1px solid red;
		font-size:@text-largest;
		.display-justify();
	}
	p {
		// border: 1px solid red;
		font-size: @text-medium;
		display: flex;
		justify-content: center;
	}
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	margin-top: 1em;
	// padding: 1em;
  }
  
  .grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 1px;
	font-size: 89%;
	text-align: left;
  }




button {
	border: 1px solid rgb(94, 94, 94);
	text-align: center;
	padding: 10px 35px;
	// margin-left: 10px;
	background-color: #ffffff;
	color: rgb(27, 27, 27);
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 5px;
	margin-top: 3em;
}

button:hover {
background-color: rgb(255, 255, 255);
color: rgb(43, 128, 197);

}

.main {
	display: flex;
	justify-content: center;
	text-align: center;
}
h2 {
	font-size: @text-larger;
}
p{
	padding-top: 1em;
}

.boxes {
	background-color: rgb(255, 255, 255);
	border-radius: 1em;
	box-shadow: 10px 10px 5px rgb(0, 63, 114);
	// border: 1px solid red;
	padding: 50px 10px;
	width: 49.5%;
	line-height: 20px;
	margin: 2.5% 4.5%;
  }



footer {
	// border: 1px solid blue;
	display: flex;
	justify-content: center;
}

.contact {
	border-radius: 1em;
	margin: 2.5% 4.5%;
	width: 15%;
	box-shadow: 10px 10px 5px rgb(0, 63, 114);
	background-color: rgb(255, 255, 255);
	// border: 1px solid red;
	text-align: center;
	h2 {
	font-size: @text-medium;
	}
}


@media(max-width: 500px) {
	.container {
		max-width: 500px;
		padding: 0;
	}
	.intro{
	flex-direction: column;
		.juno {
			width: 20em;
		}
	}


.main {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.boxes {
	width: 92%;
}


.contact {
	margin: 2.5% 4.5%;
	width: 100%;
	// border: 1px solid red;
	text-align: center;
	h2 {
	font-size: @text-medium;
	}
}
}